h1 {
  text-align: center;
  text-shadow: 2px 2px;
}

h3 {
  text-align: center;
}

body {
  background-color: lightblue;
}

p {
  text-align: center;
  font-family: "Comic Sans MS"
}

#game {
  border-radius: 50px;
}

