h1 {
  text-align: center;
  text-shadow: 3px 3px #0000CD;
	color: yellow;
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS"
}


h3 {
  text-align: center;
  font-family: "Comic Sans MS"
}


h4 {
  text-align: center;
  color: red;
}

body {
  background-color: lightblue;
}

#game {
  border-radius: 50px;
}

canvas {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

